<div class="user-details">
    <h2>{{ user.fullname }}</h2>
    {% if user.title %}<h5>{{ user.title }}</h5>{% endif %}
</div>

{% include 'partials/blueprints.html.twig' with { data: user, blueprints: user.blueprints } %}
