<!--Markup for standalone module page-->
{% if page.template == 'grid' %}
	{% include 'partials/grid.html.twig' with {'modular':page, 'page':child, 'truncate':false} %}
{% elseif page.template == 'job' %}
	{% include 'partials/job.html.twig' with {'modular':page, 'page':child, 'truncate':false} %}
{% else %}
	<p>AAA</p>
{% endif %}
